body {
    background: #a4a6a5;
}

.container-sm {
    background: #89535c;
    overflow: hidden;
}

.logo-img{
    width: 100px;
    height: 90px;
}

.main-img{
    width: 100%
}

.vex-about-us, .vex-competition{
    color:#980000;
}

.cypher-about-us{
    color:#674ea7ff
}

.robotics, .coding{
    color:#cc4125
}

.footer-img{
    max-width: 500px; /* maximum width */
    width: 100%;      /* image responsive on smaller screens */
    height: auto;     /* preserve aspect ratio */
    display: block;   /* remove unwnated line spacing */
    margin: 0 auto;   /* cente rthe image horizontally */
}


/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}








