body {
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 20;
    padding-right: 20;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f7f6;
    font-family: Arial, sans-serif;
    color: #333;
}

@media (max-width: 816px){
    body{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    max-width: 400px;
    width: 100%;
    overflow: hidden;
}

.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2c3e50;
}

p {
    font-size: 18px;
    color: #500202;
    margin-bottom: 20px;
    line-height: 1.5;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ecf0f1;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
